<html ng-app="MyApp">
<head>
<title>CAPM Model</title>
</head>
<body>
<div ng-controller="Controller">
    <table>
        <tr>
            <td>Beta</td>
            <td><input ng-model="params.beta" type="range" min="-2" max="10" step="0.5"></td>
            <td>{{params.beta | number:1}}</td>
        </tr>
        <tr>
            <td>Sigma</td>
            <td><input ng-model="params.sigma" type="range" min="0.05" max="0.3" step="0.01"></td>
            <td>{{params.sigma | number:2}}</td>
        </tr>
        <tr>
            <td>Risk-Free Return (RF)</td>
            <td><input ng-model="params.rf" type="range" min="0" max="0.10" step="0.01"></td>
            <td>{{params.rf | number:2}}</td>
        </tr>
        <tr>
            <td>MRP</td>
            <td><input ng-model="params.MRP" type="range" min="0" max="0.12" step="0.01"></td>
            <td>{{params.MRP | number:2}}</td>
        </tr>
        <tr>
            <td>Years (T)</td>
            <td><input ng-model="params.T" type="range" min="1" max="50" step="1"></td>
            <td>{{params.T | number:0}}</td>
        </tr>
        <tr>
            <td>Number of Stocks</td>
            <td><input ng-model="params.numStocks" type="range" min="1" max="1000" step="1"></td>
            <td>{{params.numStocks | number:0}}</td>
        </tr>
    </table>
    <hr/>
    <table>
        <tr style="color:blue">
            <td>Period</td>
            <td ng-repeat="i in data[0]">{{ $index }}</td>
        </tr>
        <tr ng-repeat="stock in data">
            <td>Stock {{ $index + 1 }}</td>
            <td ng-repeat="value in stock">{{value | number:2}}</td>
        </tr>
        <tr>
            <td>Median</td>
            <td ng-repeat="value in median()">{{value | number:2}}</td>
        </tr>
    </table>
</div>
<script src="jquery-1.11.0.min.js"></script>
<script src="angular.js"></script>
<script src="d3.min.js"></script>
<script src="capm.js"></script>
</body>
</html>